@page "/Manage/Board/View"


@namespace Dev_Community.Pages.Manage.Board

@inherits BoardBaseClass

<style type="text/css">
    table {
        width: 100%;
        border: 1px solid #eeeeee;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #eeeeee;
        padding: 8px;
    }

    td {
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div>
    <button class="btn btn-success m-4 float-right"  @onclick="@(() => Nav.NavigateTo("/Manage/Board/Edit"))">게시글 추가</button>
    <table>
        <thead>
            <tr>
                <th>제목</th>
                <th>내용</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in boards)
            {
                <tr>
                    <td>@item.Title</td>
                    <td @onclick="@(() => Nav.NavigateTo($"/Manage/Board/Edit/{item.Seq}"))">@item.Content</td>
                    <td style="min-width: 100px;">@item.ViewCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code {
 
}
