@page "/Manage/Board/View"


@namespace Dev_Community.Pages.Manage.Board

@inherits BoardBaseClass

<style type="text/css">
    table {
        width: 100%;
        border: 1px solid #eeeeee;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #eeeeee;
        padding: 8px;
    }

    td {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>

<div>
    <button class="btn btn-success m-4 float-right" @onclick="@(() => Nav.NavigateTo("/Manage/Board/Edit"))">게시글 추가</button>
    <table>
        <thead>
            <tr>
                <th>제목</th>
                <th>내용</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in boards)
            {
                <tr>
                    <td>@item.Title</td>
                    <td @onclick="@(() => Nav.NavigateTo($"/Manage/Board/Edit/{item.Seq}"))">@item.Content</td>
                    <td style="min-width: 100px;">@item.ViewCount</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="dropdown" style="margin-top: 20px;">
        <button class="btn btn-info">테스트버튼</button>
        <div class="dropdown-content">
            <p>Hello World!</p>
        </div>
    </div>
    <div style="margin-top: 100px;">
        asd
    </div>
</div>


@code {
 
}
